@model dynamic
@using Orchard.Security;
@using Orchard.DisplayManagement.Descriptors;
@using Orchard.UI.Resources;
@using Orchard;
@using Orchard.ContentManagement;

@{
    
    /* Global includes for the theme
    ***************************************************************/

    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    Style.Include("site.css");
    Style.Include("ie.css").UseCondition("gte IE 9").SetAttribute("media", "screen, projection");
    Style.Include("ie8.css").UseCondition("IE 8").SetAttribute("media", "screen, projection");
    Style.Include("ie7.css").UseCondition("lte IE 7").SetAttribute("media", "screen, projection");
    Script.Require("jQuery").AtHead(); // Bootstrap depends on AtHead();
    Script.Require("ShapesBase");
    Script.Include("admin.js");

    /* Twitter Bootstrap Stuff
     **************************************************************/
    SetMeta("viewport", "width=device-width, initial-scale=1, maximum-scale=1");
    Style.Include("bootstrap.min.css"); // minified style sheet
    Style.Include("bootstrap-responsive.min.css"); // minified responsive style sheet    
    Script.Include("bootstrap.min.js"); // minified javascript file        

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Inserting some ad hoc shapes
    ***************************************************************/

    // these are just hacked together to fire existing partials... can change
    Model.Header.Add(Display.Header());

    Model.Header.Add(Display.User(CurrentUser: WorkContext.CurrentUser));
    Model.Footer.Add(Display.OrchardVersion());

    if (Model.Title != null)
    {
        Model.Header.Add(Display.Title(Title: Model.Title));
    }
}

<div id="layout-content" class="container">

    @if (Model.Header != null)
    {
        <div id="header" role="banner" class="row">
            @Zone(Model.Header)
        </div>
    }
    <div id="navshortcut" class="row">
        <a href="#Menu-admin">
            @T("Skip to navigation")
        </a>
    </div>

    <div id="layout-main" class="row">

        @if (Model.Navigation != null)
        {
            <div id="menu" class="span4">
                @Zone(Model.Navigation)
            </div>
        }

        <div id="main" role="main" class="span8">
            @if (Model.Messages != null)
            {
                <div id="messages" class="row">
                    @Zone(Model.Messages)
                </div>
            }

            @if (Model.BeforeContent != null)
            {
                <div id="before-content" class="row">
                    @Zone(Model.BeforeContent)
                </div>
            }

            @if (Model.LocalNavigation != null)
            {
                <div id="local-navigation" class="row">
                    @Zone(Model.LocalNavigation)
                </div>
            }

            @if (Model.Content != null)
            {
                <div id="content" class="group row">
                    @Zone(Model.Content)
                </div>
            }

            @if (Model.AfterContent != null)
            {
                <div id="after-content" class="row">
                    @Zone(Model.AfterContent)
                </div>
            }
        </div>
    </div>

</div>

@if (Model.Footer != null)
{
    <div id="footer" role="contentinfo" class="row">
        @Zone(Model.Footer)
    </div>
}

@using (Script.Foot())
{
    <script type="text/javascript">
        //<![CDATA[
        var confirmRemoveMessage = '@T("Are you sure you want to remove this element ?")';
        //]]>
    </script>
}